h1 {
    padding-bottom: 10px;
}

h5 {
    padding-top: 5%;
    text-align: center;
}

.formy {
    padding-top: 90px;
    padding-bottom: 90px;
}

.george {
    padding-top: 90px;
}

.form-btn {
    padding-left: 5%;
    padding-right: 5%;
}

/*
.table-responsive {
    padding-bottom: 5%;
}
*/

